# Chi-Square Test

Chi-Squared test is used for string datatype

Chi-Square test is a test which is performed on two categorical datas to find out the INDEPENDENCY of the them. It tells us if there is a relationship between the categorical variables or not. In this test we take the datasets and find out using null hypothesis and alternative hypothesis, wheather the two data are dependent on each other or not.

Null Hypothesis says that the two categorical data are independent whereas Alternative Hypothesis says that the the two datas are dependent.

Formula for Chi-Square Test is:

        χ2 = ∑ (Obs - Exp)2 / Exp
where χ2 = Chi-Squared
      Obs = Observed Value
      Exp = Expected Value

To compare the two data for chi-square test, and find out waht are the observed and expected values, we firs make a contigency table. In this contigency table, we will get to know taht how many times does a data is found in dataset. we use crosstab function from pandas. Let us take role_website.csv dataset for example.

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [23]:
ds = pd.read_csv('role_website.csv') # dataset for chi-squared test
ds.head(10)

      role   website
0  teacher  linkedin
1  teacher  linkedin
2  student  facebook
3  student  facebook
4  teacher  linkedin
5  student  facebook
6  student  facebook
7  teacher  linkedin
8  teacher  linkedin
9  teacher  facebook

Now we check all ther details and describe the dataset to make a contigency table.

In [4]:
ds.describe() # we get to know that there are two unique data in the given rows and columns.

           role   website
count        34        34
unique        2         2
top     teacher  linkedin
freq         21        18

In [9]:
# Creating contigency table.
# ds['role'] becomes row and ds['website'] becomes column.
ds_ct = pd.crosstab(ds['role'], ds['website'], margins = True) # syntax for table
ds_ct 
# Here we made a contigency table. In this table in rows we have student, teacher. In column we have Facebook, Linkedin
# Here we get to know that how many times does a given data is repeated with another data.
# thus giving us the dependency on each other.
# For ex. student and facebook is present 10 times together in the dataset. Similarly Student linkedin is present 2 times.

website  facebook  linkedin  All
role
student        10         3   13
teacher         6        15   21
All            16        18   34

In [11]:
# Now we rename the rows and column for the table.
ds_ct.columns = ('facebook', 'linkedin', 'row_total')
ds_ct.index = ('student', 'teacher', 'column_total') #for rows we use index as syntax.
ds_ct

              facebook  linkedin  row_total
student             10         3         13
teacher              6        15         21
column_total        16        18         34

Now the above table is observed data which we use in Chi-Squared Table.

Now we can manually calculate the Expected values for the observed tables.

To calculate the expected values, we use the following formula:
    
    expected value = (row total x column total) / complete total

using this we can calculate the overall expected table manually.

when O1 = 10, E1 = 13*16/34.
Similarly we can calculate the other.

In [14]:
obs = ds_ct.iloc[0:2, 0:2] #slicing of the table for observed data.
obs

         facebook  linkedin
student        10         3
teacher         6        15

In [20]:
# stats.chi2_contingency? for imformation.

Now we have with us the observed values. We can now perform the Chi-Squared test. For that we use th following syntax: 
    
    "chi2,p,dof,expected = stats.chi2_contingency(observed = name_of_observed_dataset)".
This returns us with 4 values which are Chi2= which is value of chi-squared test, p-value, dof which is called as degree of freedom and is equal to dof = (rows - 1 ) x (columns - 1) and the expected value. So we use it along in the syntax. From the p-value we can check that Null or Alternative Hypothesis is accepted and perform Chi-Squared Test.

In [21]:
chi2, p, dof, exp = stats.chi2_contingency(observed = obs)
print(f"Value of Chi-Square is {chi2}")
print(f"p-value is {p}")
print(f"Value of degree of freedom is {dof}")
print(f"expected values are {exp}")

Value of Chi-Square is 5.718991656491658
p-value is 0.01678236577734386
Value of degree of freedom is 1
expected values are [[ 6.11764706  6.88235294]
 [ 9.88235294 11.11764706]]

Here we get that the p-value for the given dataset is less than 0.05. So the Alternative Hypothesis is expected and we get to know that the two categorical data are dependent on each other.